.faq-container {
    padding-block: 25px;
}

summary {
    font-size: 110%;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
}

.button {
    text-align: left;
}

details[open=""] summary {
    background-color: var(--light-yellow);
}

details div {
    padding-inline: 20px;
}