/* Styles the introductory content container. */
.intro-container {
    margin: 20px 0;
}

/* Defines grid layout for the bottom card-like sections. */
.bottom-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

/* Styles individual card-like sections in the bottom container. */
.bottom-container-item {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/* Styles headings within the card-like sections. */
.bottom-container-item h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

/* Styles the list within the achievements section. */
.achievements-container ul {
    list-style-position: inside;
    padding-left: 0;
    margin-bottom: 0;
    flex-grow: 1;
}

/* Styles individual items in the achievements list. */
.achievements-item {
    margin-bottom: 10px;
}

/* Styles paragraphs within the climate action container. */
.climate-action-container p {
    margin-bottom: 0;
    flex-grow: 1;
}

/* Styles images in climate challenge and community progress sections. */
.bottom-container-item img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* Specific styling for climate challenge paragraph */
.climate-challenge-container p {
    margin-bottom: 20px;
    flex-grow: 1;
}

/* Styles the button in the climate challenge section. */
.climate-challenge-button {
    width: 100%;
    border-radius: 100px;
    padding: 15px 0;
    margin-top: auto;
}

h2 {
    font-size: 120%;
}

h3 {
    margin-bottom: 0%;
}

.fun-fact {
    margin-top: 5px;
}

/* Single grid */
@media (max-width: 768px) {
    .bottom-container {
        grid-template-columns: 1fr; /* Forces a single column layout */
    }
}
