/* This file is for all CSS stylings specific to a single page */

/* Container containing all the containers for the page full of containers */
.content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Heading container styles */
.intro-container {
    background: lightgray;
    margin: 20px 0;
    padding: 20px;
}

/* Button container holding the rest of the containers */
.bottom-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

/* Giving each container flexbox to help layout */
.achievements-container,
.climate-action-container,
.climate-challenge-container,
.community-progress-container {
    display: flex;
    flex-direction: column;
}

/* Handling the heading for achievements */
#achievements-heading {
    background-color: lightgray;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}

/* Handling the list for achievements */
#achievements-list {
    background-color: lightgray;
    padding: 20px;
    height: 100%;
}

/* Single achievement item style */
.achievements-item {
    margin-bottom: 15px;
}


/* Climate action styles - heading */
#climate-action-heading {
    background-color: lightgray;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}


/* Climate action styles - text */
#climate-action-text {
    background-color: lightgray;
    padding: 20px;
    height: 100%;
}

/* Climate challenge styles - image */
#climate-challenge-image {
    max-width: 100%;
}


/* Climate challenge styles - button */
#climate-challenge-button {
    width: 100%;
    border: 1px solid black;
    border-radius: 100px;
    padding: 20px 0;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.25);
    margin-top: auto;
    cursor: pointer;
}


/* Community progress styles - heading */
#community-progress-heading {
    background-color: lightgray;
    padding: 20px 0;
    text-align: center;
    margin-bottom: 10px;
}

/* Community progress styles - image */
#community-progress-image {
    max-width: 100%;
}
