/* Flip Card Styles - taken from W3Schools */

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Image styles - keeps image contained and doesnt overflow */
.flip-card-inner img {
    display: block;
    object-fit: contain;
    max-height: 90%;
    max-width: 100%;
}

/* Do the flip when you move the mouse over 'flip card inner' */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card {
    min-height: 300px;
}

/* The front and back must be absolute to make it work properly*/

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Fallback style if the image is missing */
.flip-card-front {
    border: 1px solid black;
}

/* Style the flipped side */
.flip-card-back {
    background-color: var(--bcc-blue);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back h2 {
    color: white;
    margin: 0;
}
.flip-card-back p {
    padding: 20px;
    margin: 0;
}

/* Our page styles */
/* Heading (subject to change) */
.climate-challenge-heading {
    margin: 20px 0;
}

/* The checklist grid for all the activities - holds everything and keeps them styled the same. */
.climate-challenge-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}

/* Single checklist container */
.climate-challenge-game-container {
    display: flex;
    flex-direction: column;
}

/* Game start button*/
.start-game-button {
    margin: 10px 0;
}

.start-game-button a {
    display: block;
    padding: 8px 0;
}

/* The actual checklist on the right's styles */

.climate-challenge-checklist {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    border: 1px solid black;
    padding: 0 10px;
}

/* Checklist's heading styles*/
.climate-challenge-checklist h3 {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

/* Single checklist item (card flip, infographic, real-life action */
.climate-challenge-checklist-item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid black;
}

.climate-challenge-checklist-item p {
    margin: 0;
}

/* Styles to keep the checkbox to the right of the div (it stuck to the middle for some reason :[ )*/
.checklist-checkbox {
    display: flex;
    align-items: center;
    justify-content: end;
    height: auto;
}

/* Same as above - helps keep checkbox in check (lol) */
.checklist-checkbox input {
    max-width: 30px;
    width: 100%;
    height: 100%;
}

/* Checklist submit button - div then text inside*/
.checklist-submit {
    margin-bottom: 10px;
}
/* Link inside the div - display block to make it work with the rest of the outside container & take full width */
.checklist-submit a {
    display: block;
    padding: 8px 0;
}

/* Help container styles*/
.help-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

/* Styling the help button */
.help-container a {
    padding: 10px;
    margin-top: 10px;
}

/* 

Mobile Responsiveness - anything under 1024px becomes cramped so we made it go to 1 column after that point.
Makes it work well for Desktops, Laptops, Tablets, and Mobile phones

*/

@media screen and (max-width: 1024px) {
    /* Flip card min height to keep it in check */
    .flip-card {
        min-height: 400px;
        margin-bottom: 20px;
    }
}
