.main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Ensures that the image is centred on the screen by centring it within the container */
.img-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-block: 20px;
}

.img-container img {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
    align-self: center;
}