h1, h2 {
    margin-bottom: 10px;
}

.video-container iframe {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    margin-bottom: 30px;
}

.description,
.recent-news,
.links-container {
    margin-bottom: 30px;
}

.description p,
.recent-news p,
.links-container ul {
    margin-top: 10px;
}

/* Styles the related topics container*/
.links-container {
    max-width: 800px;
    margin: 40px auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Styles the related topics heading */
.links-container h2 {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

/* Styles the list format*/
.links-container ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

/*Styles each item in the list*/
.links-container li {
    margin-bottom: 10px;
}

/*styles text links*/
.links-container a {
    text-decoration: none;
    color: #2b4c7e;
    font-weight: bold;
    transition: color 0.3s ease;
}

/*changes colour of link when hovered*/
.links-container a:hover {
    color: #1a3055;
}