.main {
  overflow: auto;
}

/* Center heading */
.pstory-heading{
  padding-top: 2%;
}
.pstory-heading h1 {
  text-align: center;
  width: 100%;
  background-color: rgba(0, 169, 79, 0.35);
  padding: 1%;
}

/* Overall layout: left stories + right related */
.personal-stories-wrapper {
  display: flex;
  gap: 40px;
  padding: 20px 40px;
}

/* LEFT column: stacked story blocks */
.personal-stories-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 3;
 
}

/* Each story block (row) */
.story-block {
  display: flex;
  gap: 40px; 
}

/* Image section */
.story-images{
  display: flex;
  flex-direction:column;
  gap: 50px;
  flex: 0 0 300px;
}

.story-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

/* Text section */
.story-text {
  flex: 1;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px
}

.storytext-container {
  background-color: rgba(0, 103, 177, 0.35);
  padding: 20px;
  border-radius: 10px;
}

.story-text h2 {
  margin-top: 0;
}

.story-text p {
  margin-bottom: 50px;
  margin-top: 0;
}

/* RIGHT column: Related stories */
.relatedstories {
  flex: 1;
  padding: 20px;
  height: fit-content;
  background-color: rgba(0, 103, 177, 0.35);
  border-radius: 10px;
  text-align: center;
}

.relatedstories ul {
  background-color: white;
  border-radius: 10px;
  padding: 20px
}

/* Related list styling */
.relatedstories li {
  list-style-type: none;
  margin-bottom: 10px;
}
